/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

:root {
    font-size: 16px;
    margin: 64px;
    border-radius: 8px;
}

body {
    background-color: #01215f;
    color: #96D5CF;

    font-size: clamp(4.5rem, 12.5rem, 12.5rem);
    font-style: normal;
    font-weight: normal;
    font-family: Maven Pro, Helvetica, sans-serif;
}

.bg {
    background-color: #96D5CF;
    border-radius: clamp(0.95rem, 1.15rem, 1.25rem);
    font-size: clamp(1rem, 1.5rem, 2rem);
    margin: clamp(0.5rem, 1rem, 1.5rem);
}

header {
    color: #01215f;
    font-size: clamp(1rem, 2rem, 3rem);
}