/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

Font styles: ExtraLight, Light, Medium, Bold, ExtraBold,Black +Italic

**********************************************/

:root {
    font-size: 16px;
    margin: 64px;
    border-radius: 8px;
}

body {
    background-color: #01215f;
    color: #96D5CF;

    border-radius: clamp(0.95rem, 1.15rem, 1.25rem);
    margin: clamp(1rem, 3rem, 3rem);

    font-size: clamp(4.5rem, 12.5rem, 12.5rem);
    font-style: normal;
    font-weight: normal;
    font-display: fallback;

    font-family: Poppins, Arial, sans-serif;
    src: local('Poppins'),
        url ('Poppins.ttf') format('ttf'),


}

div {
    background-color: #96D5CF;
    color: #01215f;



    border-radius: clamp(0.95rem, 1.15rem, 1.25rem);
    padding: clamp(1rem, 2rem, 5rem);

    font-size: clamp(1rem, 1.5rem, 2rem);
}

img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 100%;
}

h1 {
    font-weight: lighter;
    line-height: 90%;
}

h2 {
    font-weight: light;
}

p {

    line-height: 95%;
}